
:root{
    --primary-color: #f3f3f3;
    --black-900: #1e2025;
    --black-800: #22252a;
    --blue-600: #2563eb;
}
h1{
    color: var(--primary-color);
}
label{
    display:block;
    margin: 1rem;
    color: var(--primary-color);
    padding: 0.5rem;
    
}
input{
    border: none;
    box-sizing: border-box;
    background-color: var(--black-900);
    margin: 0rem;
    padding: 1.5rem 1.5rem;
    color: var(--primary-color);
    max-width: 80%;

}
button{
    border: none;
    max-width: 140px;
    color: var(--primary-color);
    font-size: 1rem;
    background-color: var(--blue-600);
    padding: 0.5rem 2.5rem;
}
.btn-submit{
    margin: 1rem;
}
.container{
    min-height: 100vh;
    display: flex;
}

.stock-detail-left{
    background-color: var(--black-800);
    width: 50%;
    margin: 0rem;
    padding-top: 10vh;
    text-align: center;
    
}
.stock-detail-right{
    font-size: xx-large;
    background-color: var(--black-900);
    color: var(--primary-color);
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: block;
    box-sizing: border-box;
}